* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: black;
  font-family: 'Squada One';
}
main {
  position: relative;
}
.modal {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container {
  margin-top: 30px;
}
.gameboard {
  width: 600px;
  height: 600px;
  display: none;
  flex-wrap: wrap;
  background-image: url(https://i.imgur.com/oFw8CcV.png);
  background-position: center;
  background-size: 104%;
}
.countdown {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  color: white;
  font-size: 100px;
  text-align: center;
  background-color: rgba(255,255,255,0.2);
  padding: 30px;

}

.tile {
  width: calc(100%/18);
  height: calc(100%/18);
  border: 2px solid transparent;
  color: white;
}
.wall {

  border: 3px solid #transparent;
}
h1 {
  text-align: center;
}
.portal {
}

.popupMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  width: 600px;
  height: 600px;
  background-color: rgba(0,0,0,0.7);

}
.energizer {
  border: 6px solid black;
  background-color: white;
  border-radius: 100%;
  animation:btn 0.5s;
  -webkit-animation: btn 0.5s;
  animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;

}
@keyframes btn  {
    0%   {border: 7px solid black;}
    50%  {border: 8px solid black;}
    100% {border: 9px solid black;}
}

.dot {
text-align: center;
font-size: 20px;
}
.pacman {
  width: calc(100%/18);
  height: calc(100%/18);
  border-radius: 100%;
  background-image: url('https://i.imgur.com/EZeEzfC.png');
  background-size: cover;

}
.pacmanMoveRight {
  background-image: url('https://i.imgur.com/RkZQmH3.png')
}
.pacmanMoveleft {
  background-image: url('https://i.imgur.com/RkZQmH3.png');
  transform: scaleX(-1);
}
.pacmanMoveUp {
  background-image: url('https://i.imgur.com/RkZQmH3.png');
  transform: rotate(-90deg);
}

.pacmanMoveDown {
  background-image: url('https://i.imgur.com/RkZQmH3.png');
  transform: rotate(90deg);
}
.blinky {
  background-image:  url('https://i.imgur.com/v5tjrAC.png'),url('https://i.imgur.com/ECgBMV7.png');
  background-size: cover, cover;
  background-position: -3px 1px, center;
  background-size: 120%, 70%;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  animation-duration: 0.1s;
  animation-name: blinkyeMovingRight;
}
@keyframes clydeMovingRight{
    0%   {background-image: url('https://i.imgur.com/v5tjrAC.png'), url('https://i.imgur.com/ECgBMV7.png');}
    100% {background-image: url('https://i.imgur.com/v5tjrAC.png'), url('https://i.imgur.com/G4KHH04.png');}
}
.inky {
  background-image:  url('https://i.imgur.com/v5tjrAC.png'),url('https://i.imgur.com/DxQCghZ.png');
  background-size: cover, cover;
  background-position: -3px 1px, center;
  background-size: 120%, 70%;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  animation-duration: 0.1s;
  animation-name: inkyMovingRight;
  border: none;
}
@keyframes inkyMovingRight{
    0%   {background-image: url('https://i.imgur.com/v5tjrAC.png'), url('https://i.imgur.com/DxQCghZ.png');}
    100% {background-image: url('https://i.imgur.com/v5tjrAC.png'), url('https://i.imgur.com/Y8iLUYR.png');}
}

.clyde {
  background-image:  url('https://i.imgur.com/v5tjrAC.png'),url('https://i.imgur.com/cHe9cex.png');
  background-size: cover, cover;
  background-position: -3px 1px, center;
  background-size: 120%, 70%;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  animation-duration: 0.1s;
  animation-name: clydeMovingRight;
}
@keyframes clydeMovingRight{
    0%   {background-image: url('https://i.imgur.com/v5tjrAC.png'), url('https://i.imgur.com/cHe9cex.png');}
    100% {background-image: url('https://i.imgur.com/v5tjrAC.png'), url('https://i.imgur.com/NDRcpY9.png');}
}

.pinky {
    background-image:  url('https://i.imgur.com/v5tjrAC.png'),url('https://i.imgur.com/0lj2px2.png');
    background-size: cover, cover;
    background-position: -3px 1px, center;
    background-size: 120%, 70%;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    animation-duration: 0.1s;
    animation-name: pinkyMovingRight;
    border: none;
  }
@keyframes pinkyMovingRight{
      0%   {background-image: url('https://i.imgur.com/v5tjrAC.png'), url('https://i.imgur.com/0lj2px2.png');}
      50% {background-image: url('https://i.imgur.com/v5tjrAC.png'), url('https://i.imgur.com/bmpUPhL.png');}
  }

.scaredGhost {
  background-image:  url('https://i.imgur.com/v5tjrAC.png'),url('https://i.imgur.com/c1PPntU.png');
  background-size: cover, cover;
  background-position: -3px 1px, center;
  background-size: 120%, 70%;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  animation-duration: 0.1s;
  animation-name: scaredMovingRight;
  border: none;
}
@keyframes scaredMovingRight{
    0%   {background-image: url('https://i.imgur.com/v5tjrAC.png'), url('https://i.imgur.com/c1PPntU.png');}
    100% {background-image: url('https://i.imgur.com/v5tjrAC.png'), url('https://i.imgur.com/OXY8jEc.png');}
}

button {
  width: 150px;
  height: 100px;
  font-size: 50px;
  font-family: 'Squada One';
  z-index: 2;
}
.score {
 color: white;
 font-size: 30px;
}
.scoreDiv {
  color: white;
  font-size: 30px;
}
.scoreAndLives {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.livesDiv {
  color: white;
  font-size: 30px;
  display: flex;
}

.life {
  margin: 1px;
  width: 30px;
  height: 30px;
  background-image: url('https://i.imgur.com/RkZQmH3.png');
  background-size: cover;
}
.emptyLife {
  background-image: none;
}
.gameOver {
  font-size: 30px;
}
.newGameContinue {
  display: none;
  width: 200px;
  height: 40px;
  font-size: 30px;
  font-family: 'Squada One';
}

img {
  width: 100%;
  margin-bottom: 100px;
}
